:host{
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 16.7%,
    rgba(255, 0, 0, 0.75) 50%,
    rgba(255, 204, 0, 0.75) 83.3%
  );
}

div.translator-flag-cont {
  margin-top: 20px;
  display: inline-flex;
  place-content: center;
  width: 100%;
  border-width: 5px;
  border-radius: 10px;
  $value: 30;
  img{
    max-width: 3px*$value;
    width: 2px*$value;
    height: 1px*$value;

  }
}
