div.translator-flag-cont {
  margin-top: 20px;
  display: inline-flex;
  place-content: center;
  width: 100%;
  border-width: 5px;
  border-radius: 10px;
  $value: 30;
  img{
    max-width: 3px*$value;
    width: 2px*$value;
    height: 1px*$value;

  }
}


a{
  text-decoration: none;
}
.hashtags{
  color: blue;
}

div.accordion-body{

  p{
      text-wrap:wrap;
      width: inherit;
      margin-bottom:  10px;
      line-height: 20px;
   
  }
  p.first{
      font-weight: bold;
  }
  p.end{
      margin-bottom: 0px;
  }
}

.dLqIok {
  margin: 0 auto;
  height: auto;
  width: 80%;
}

.accordion{
  padding-top: 2%;
}