<div class="footer" style="margin-top: 20px;">

    <div class="footer-line"></div>
    <div class="footer-container">
        <div class= "mail" style="
        z-index: 1;
        position: absolute;
        right: 20px;
        bottom: 10px;
    ">
            
            <a id="mail" href="mailto:metudeutschclub@gmail.com" name="mail">
                <img name="mail" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" alt="Gmail" width="32px" height="32px">
                <p>
                    Contact Us
                </p>
            </a>

        </div>
    </div>


</div>