<div>
    <div class="accordion" id="accordionExample" style="padding-top: 5%;">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What is METU-DEUTSCH
        </a>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body" >
            METU Deutsch is a club that collects all activities and announcements about German on campus under one roof.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample" style="padding-top: 5%;">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            Don't forget to explore our hashtags
        </a>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body" >
            <p><span class="hashtags">#wasdenkensie</span>: if you are wondering what other people think about the topic.</p>
            <p><span class="hashtags">#memedestages</span>: Competition for the best meme of the day, laugher is the winner!</p>
            <p><span class="hashtags">#höregernezu</span>: If 3 people use this hashtag, it is an invitation to a language chat</p>
            <p><span class="hashtags">#wortichmag</span>: Share the word that sounds interesting!</p>
            <p><span class="hashtags">#musikfürihr</span>: We would like to know what you are listening to?</p>
            <p><span class="hashtags">#deutschetimologie</span>: Because etymology can be fascinating.</p>
            <p><span class="hashtags">#fürmetudeutsch</span>: An idea that you think is good for METU Deutsch (we want to support)</p>
            <p>It would be cool if you use hashtags in the sentences</p>

          </div>
        </div>
      </div>
    </div>
  
  </div>