<div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          What is METU-DEUTSCH
        </a>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          METU Deutsch is a club that collects all activities and announcements about German on campus under one roof.
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id= "luas">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
          aria-expanded="true" aria-controls="collapseThree">
          How does "Let's Build Together" work?
      </a>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p class="first">Of the people, by the people, for the people!</p>
          <p>As METU-Deutsch, we are building this community voluntarily. Our sole purpose is to help and benefit through the community. That's why we are against hierarchy. So we prefered to share our METU-DEUTSCH TO-DO list and recruit people as teammates as they complete and report their works to us. 
          </p>
          <p>
            <a href="https://docs.google.com/document/d/1srh8Vd9y-IFwLCGLUiOPeJX4jbHL7tNuxbuPlN11jCk/edit?usp=sharing">Click here to access our TO-DO List
            </a>
          </p>
          <p>
            Also if you have any idea or project for METU Deutsch, We are always here to support you. 
          </p>
          <p>
            Don't forget to contact us over <a href="https://www.instagram.com/metu_deutsch/">&#64;metudeutsch</a> on Instagram or <a href="mailto:metudeutschclub@gmail.com" >metudeutschclub&#64;gmail.com</a>
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
          aria-expanded="true" aria-controls="collapseFour">
          What is our language learning philosophy?
      </a>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>METU-Deutsch is built around an alternative language learning philosophy that rejects CERF scale (known as A1-C2). While grammar and declarations are a part of language level evaluation according to CERF scale, we believe that grammar is just a tool and declarations are just a matter of practice.
            <br><br>
            In METU-Deutsch, we are aiming to foster the method what we call "diving into", in which, no matter the one's CERF scale level, people learns vocabulary through their area of interest by pursuing it in German. Once the people accumulate some vocabulary, they will feel the urge to express themselves in German. Only at that point, need for certain grammar knowledge will arise. 
            
            After enjoying their area of interest and expressing themselves comfortably in German, active use of language will later return themselves as knowledge of declarations and harder grammar concepts.
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
          aria-expanded="true" aria-controls="collapseFive">
          What if I wish to pass language exams?
      </a>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>METU-Deutsch is not aiming to be a German course but to create a German speaking environment. However, as you become more active in and contribute to the community, you will be exposed to a lot of grammar rules, listening practice, speaking practice, reading practice and more...

            Thus, by following an alternative path, you will be proficient in speaking firstly, and later in grammar.
            Additionally you can always check out our learning material pool to study grammar from the latest updated contents.

            If exams are your urgent priority, we suggest being active in the club and studying over our suggested materials at the same time.
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="true" aria-controls="collapseSix">
          How can I apply "diving into" method?
      </a>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>METU-Deutsch is exactly there for this issue. You can easily improve your German skills simply by;
            <p>
              &#8226; Pursuing your area of interests through our suggested contents and the contents you suggest to the community.
            </p>
            <p>
              &#8226; Speaking actively around hashtags in groups.
            </p>
            <p>
              &#8226; Solving quizzes posted everyday that includes listening, reading and vocabulary practices.
            </p>
            <p>
              &#8226; Attending our speaking clubs and taking an active role in the community that aims to provide all of these. 
            </p>
            <p class="end" style="font-weight: 600;">
            Let's foster German culture and language together!</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          Don't forget to explore our hashtags!!!
        </a>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p><span class="hashtags">#wasdenkensie</span>: if you are wondering what other people think about the topic.
          </p>
          <p><span class="hashtags">#memedestages</span>: Competition for the best meme of the day, laugher is the
            winner!</p>
          <p><span class="hashtags">#höregernezu</span>: If 3 people use this hashtag, it is an invitation to a language
            chat</p>
          <p><span class="hashtags">#wortichmag</span>: Share the word that sounds interesting!</p>
          <p><span class="hashtags">#musikfürihr</span>: We would like to know what you are listening to?</p>
          <p><span class="hashtags">#deutschetimologie</span>: Because etymology can be fascinating.</p>
          <p><span class="hashtags">#fürmetudeutsch</span>: An idea that you think is good for METU Deutsch (we want to
            support)</p>
          <p class="p-end">It would be cool if you use hashtags in the sentences</p>
        </div>
      </div>
    </div>
  </div>

</div>