

img.preview-icon{
    height: 32px;
    width: 32px;
}

div.translator-flag-cont {
  margin-top: 20px;
  display: inline-flex;
  place-content: center;
  width: 100%;
  border-width: 5px;
  border-radius: 10px;
  $value: 30;
  img{
    max-width: 3px*$value;
    width: 2px*$value;
    height: 1px*$value;

  }
}
button.group{
  background-color: #fff;
}
button.disabled{
  background-color: gray;
}
div.hidden{
  display: none;
}

p.sc-hKgILt{
  p{
    font-weight: 300;
  }
}

div#other-platforms{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-items: center;
  padding-inline: 40%;
  img{
    height: 64px;
    width: 64px;
    
  }
}

div.w-full.h-full{
  display: inline-flex;
  flex-flow: nowrap;
  width: 100%;
}

div.animate__animated.animate__fadeInUp{
  animation-duration: 2s;
}

div.animate__animated.animate__pulse{
  animation-duration: 2s;
  
}