<div class="center-site" style="margin-top: 4%;">
  <div class="sc-bdfBwQ sc-gsTCUz dTcluo bhdLno">
      <div class="eZNKTD" style="place-content: center; display: inline-flex">
        <a routerLink="/" style="display: contents;">
          <img
            src="assets/Deutsch2.png"
            alt=""
            role="presentation"
            data-testid="ProfileImage"
            crossorigin="anonymous"
            class="sc-iBPRYJ flTywP sc-hBEYos czEoCL"
            filter="none"
            style="
      flex-flow: nowrap;
      display: inline-flex;
      height: 20%;
      width: 20%;
    "
          />
        </a>
      </div>
      <div class="sc-bdfBwQ sc-kstrdz llgrqs btjemE">
        <h1 class="sc-dlfnbm hJicDA">Metu Deutsch</h1>
      </div>
      <div class="sc-bdfBwQ jWrdnz">
        <h2 class="sc-hKgILt gEbEcU" style="font-weight: 600">
          Lasst Uns Zusammen Die Beste Community Aufbauen !!!
        </h2>
      </div>
    </div>
    <div class="sc-bdfBwQ sc-eLgOdN la-DUvP fNmjUi" style="
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 16.7%,
      rgba(255, 0, 0, 0.75) 50%,
      rgba(255, 204, 0, 0.75) 83.3%
    );
  "></div>
  <router-outlet></router-outlet>
</div>
