<div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseTwo">
          Was ist METU-DEUTSCH?
        </a>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p>METU Deutsch ist ein Verein, der alle Aktivitäten und Ankündigungen
            über Deutsch auf sammelt Campus unter einem Dach.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="luas">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
          aria-expanded="true" aria-controls="collapseThree">
          Wie funktiert "Lass Uns Aufzubauen Zusammen"?
        </a>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p class="first"> des Volkes, durch das Volk, für das Volk!</p>
          <p>Als METU-Deutsch, bauen wir diese Studentenclub freiwillig auf. Unser einziges Ziel ist es, durch die
            Studentenclub zu helfen und zu profitieren. Deshalb sind wir gegen eine Hierarchie. Deshalb haben wir uns
            entschieden, unsere METU-DEUTSCH TO-DO-Liste zu teilen und Leute als Teammitglieder zu rekrutieren, während
            sie ihre Arbeiten abschließen und uns berichten.
          </p>
          <p>
            <a href="https://docs.google.com/document/d/1srh8Vd9y-IFwLCGLUiOPeJX4jbHL7tNuxbuPlN11jCk/edit?usp=sharing">Klicken
              Sie hier, um unsere TO-DO-Liste zu öffnen
            </a>
          </p>
          <p>
            Auch wenn Sie eine Idee oder ein Projekt für METU Deutsch haben, sind wir immer hier, um Sie zu
            unterstützen.
          </p>
          <p>
            Kontaktieren Sie uns unter <a href="https://www.instagram.com/metu_deutsch/">&#64;metudeutsch</a> auf
            Instagram oder <a href="mailto:metudeutschclub@gmail.com">metudeutschclub&#64;gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
          aria-expanded="true" aria-controls="collapseFour">
          Was ist unsere Philosophie zum Sprachenlernen?
      </a>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>METU-Deutsch basiert auf einer alternativen Sprachlernphilosophie, die die CERF-Skala (bekannt als A1-C2) ablehnt. Während Grammatik und Deklarationen Teil der Sprachniveaubewertung nach der CERF-Skala sind, glauben wir, dass Grammatik nur ein Werkzeug ist und Deklarationen nur eine Frage der Übung sind.
            <br><br>
            In METU-Deutsch wollen wir die Methode fördern, die wir "Eintauchen" nennen, bei der Menschen unabhängig von der CERF-Skalenstufe Vokabeln durch ihr Interessengebiet lernen, indem sie es auf Deutsch verfolgen. Sobald die Menschen einen Wortschatz angesammelt haben, werden sie den Drang verspüren, sich auf Deutsch auszudrücken. Erst an diesem Punkt wird der Bedarf an bestimmten Grammatikkenntnissen entstehen.

            Nachdem sie ihr Interessengebiet genossen und sich bequem auf Deutsch ausgedrückt haben, wird sich der aktive Sprachgebrauch später als Kenntnis von Deklarationen und schwierigeren Grammatikkonzepten selbst zurückgeben.
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
          aria-expanded="true" aria-controls="collapseFive">
          Was ist, wenn ich Sprachprüfungen bestehen möchte?
      </a>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>Ziel von METU-Deutsch ist es nicht, ein Deutschkurs zu sein, sondern eine deutschsprachige Umgebung zu schaffen. Wenn Sie jedoch aktiver in der Gemeinschaft werden und Ihren Beitrag leisten, werden Sie mit vielen Grammatikregeln, Hörübungen, Sprechübungen, Leseübungen und vielem mehr vertraut gemacht ...

            Wenn Sie also einen alternativen Weg einschlagen, beherrschen Sie zunächst das Sprechen und später die Grammatik.
            Darüber hinaus können Sie sich jederzeit unseren Lernmaterialpool ansehen, um Grammatik anhand der neuesten aktualisierten Inhalte zu lernen.

            Wenn Prüfungen für Sie dringende Priorität haben, empfehlen wir Ihnen, im METU-Deutsch aktiv zu sein und gleichzeitig unsere vorgeschlagenen Materialien zu studieren.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="true" aria-controls="collapseSix">
          Wie kann ich die Methode des „Eintauchens“ anwenden?
      </a>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse">
        <div class="accordion-body" >
          <p>METU-Deutsch ist genau für dieses Problem da. Sie können Ihre Deutschkenntnisse ganz einfach verbessern, indem Sie;
            <p>
              &#8226; Verfolgen Sie Ihr Interessengebiet durch unsere vorgeschlagenen Inhalte und die Inhalte, die Sie der METU-Deutsch vorschlagen.
            </p>
            <p>
              &#8226; In Gruppen aktiv über Hashtags sprechen.
            </p>
            <p>
              &#8226; Täglich veröffentlichte Quizze lösen, die Hör-, Lese- und Wortschatzübungen beinhalten.
            </p>
            <p>
              &#8226; Besuchen Sie unsere Vortragsclubs und übernehmen Sie eine aktive Rolle in METU-Deutsch, die all dies bieten möchte.
            </p>
            <p class="end" style="font-weight: 600;">
              Lassen Sie uns gemeinsam die deutsche Kultur und Sprache fördern!</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          Vergessen Sie nicht, unsere Hashtags zu erkunden!!!
        </a>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p><span class="hashtags">#wasdenkensie</span>: Falls Sie sich fragen, was andere Leute über das Thema denken.
          </p>
          <p><span class="hashtags">#memedestages</span>: Wettbewerb um das beste Meme des Tages, Lacher sind die
            Gewinner!</p>
          <p><span class="hashtags">#höregernezu</span>: Wenn 3 Personen dieses Hashtag verwenden, ist es eine Einladung
            zu einem Sprachchat</p>
          <p><span class="hashtags">#wortichmag</span>: Teilen Sie das Wort, das interessant klingt!</p>
          <p><span class="hashtags">#musikfürihr</span>: Wir würden gerne wissen, was Sie hören?</p>
          <p><span class="hashtags">#deutschetimologie</span>: Weil Etymologie faszinierend sein kann.</p>
          <p><span class="hashtags">#fürmetudeutsch</span>: Eine Idee, die Sie für METU Deutsch gut finden (wir möchten
            unterstützen)</p>
          <p class="end">Es wäre cool, wenn Sie Hashtags in den Sätzen verwenden :)</p>
        </div>
      </div>
    </div>
  </div>
</div>