<div>
  <div class="accordion" id="accordionExample" style="padding-top: 5%;">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Was ist METU-DEUTSCH
      </a>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body" >
          METU Deutsch ist ein Verein, der alle Aktivitäten und Ankündigungen über Deutsch auf sammelt Campus unter einem Dach.
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample" style="padding-top: 5%;">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          Vergessen Sie nicht, unsere Hashtags zu erkunden
      </a>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body" >
          <p><span class="hashtags">#wasdenkensie</span>: Falls Sie sich fragen, was andere Leute über das Thema denken.</p>
          <p><span class="hashtags">#memedestages</span>: Wettbewerb um das beste Meme des Tages, Lacher sind die Gewinner!</p>
          <p><span class="hashtags">#höregernezu</span>: Wenn 3 Personen dieses Hashtag verwenden, ist es eine Einladung zu einem Sprachchat</p>
          <p><span class="hashtags">#wortichmag</span>: Teilen Sie das Wort, das interessant klingt!</p>
          <p><span class="hashtags">#musikfürihr</span>: Wir würden gerne wissen, was Sie hören?</p>
          <p><span class="hashtags">#deutschetimologie</span>: Weil Etymologie faszinierend sein kann.</p>
          <p><span class="hashtags">#fürmetudeutsch</span>: Eine Idee, die Sie für METU Deutsch gut finden (wir möchten unterstützen)</p>
          <p>Es wäre cool, wenn Sie Hashtags in den Sätzen verwenden</p>
        </div>
      </div>
    </div>
  </div>

</div>